#forecast
    #inner-forecast
        a#back-link(ng-href="{{report.shareUrl}}")
            i.fa.fa-chevron-left

        article.container
            div(ac-observation-min='ac-observation-fullpage', observation='report', sponsor='sponsor')
