#forecast
    #inner-forecast
        a#back-link(ui-sref='ac.map')
            i.fa.fa-chevron-left

        article.container
            div(ac-observation-min='ac-observation-fullpage', observation='report', sponsor='sponsor')
